<h1>ch5 render flow</h1>
<h2>5.3.ngClass and className bindings</h2>

<h3>Airline Passengers</h3>
<ul>
  <li *ngFor="let passenger of passengers; let i = index">
    <span class="status" [class.checked-in]="passenger.checkedIn"></span>
    {{i}}:{{passenger.fullname}}
  </li>
</ul>
<h3>Airline Passengers</h3>
<ul>
  <li *ngFor="let passenger of passengers; let i = index">
    <span class="status"
    [ngClass]="{
      'checked-in': passenger.checkedIn,
      'checked-out': !passenger.checkedIn
    }"></span>
    {{i}}:{{passenger.fullname}}
  </li>
</ul>