<form 
 (submit)="handleSubmit(detailForm.value, detailForm.valid)" 
 #detailForm="ngForm" novalidate>
  <div>
    <input type="text" 
    name="fullname"
    required
    #fullname="ngModel"
    [ngModel]="detail?.fullname"
    >
    <div *ngIf="fullname.invalid && fullname.dirty">
      Fullname is required
    </div>
  </div>
  <div>
    <input type="text" 
    name="id"
    required
    #id="ngModel"
    [ngModel]="detail?.id"
    >
    <div *ngIf="id.invalid && id.dirty">
        Fullname is required
      </div>
  </div>
  <div>
    <label for="checkedIn">
        <input 
        type="checkbox" 
        name="checkedIn" 
        [ngModel]="detail?.checkedIn" 
        (ngModelChange)="toggleCheckIn($event)">
    </label>
    <!-- <label for="checkedIn">
        <input 
        type="radio" 
        name="checkedIn" 
        [value]="true" 
        [ngModel]="detail?.checkedIn" 
        (ngModelChange)="toggleCheckIn($event)">
        Yes
    </label>
    <label for="checkedIn">
        <input 
        type="radio" 
        name="checkedIn" 
        [value]="false"
        [ngModel]="detail?.checkedIn" 
        (ngModelChange)="toggleCheckIn($event)">
        No
    </label> -->
  </div>
  <div *ngIf="detailForm.value.checkedIn">
    Check In Date:
    <input type="number" 
    name="checkInDate"
    [ngModel]="detail?.checkInDate">
  </div>
  <div>
    Luggage:
    <select
     name="baggage" 
     [ngModel]="detail?.baggage">
      <option *ngFor="let item of baggage"
       [value]="item.key">
        {{item.value}}
      </option>
    </select>
  </div>
  <button type="submit" [disabled]="detailForm.invalid">
    Update Passenger
  </button>
</form>

